.details-head .row .thumb {
    position: relative;
    max-height: 305px;
    overflow: hidden;
    border-radius: 23px;
}
.details-head .row img {
    border-radius: 15px;
}
.details-head .row .thumb a {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-23px, -23px);
    width: 46px;
    height: 46px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: 46px;
    color: #ec6090;
}
@media screen and (max-width: 992px) {
    .details-head .row .thumb {
        margin-top: 30px;
    }
}